.container {
  background-color: rgb(240, 120, 120);
  border-radius: 5px;
  width: 630px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.formElement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "areaA areaB areaB";
  width: 555px;
  margin-bottom: 1.5rem;
}

.formInputWrapper {
  grid-area: areaB;
  display: flex;
  flex-direction: column;
}

.formLabel {
  grid-area: areaA;
  font-size: 1.1rem;
  padding-top: 10px;
}
.formInput {
  border-radius: 3px;
  border: none;
  background-color: #fff;
  padding: 10px 10px;
  font-size: 1.1rem;
}
.formInput:focus {
  outline: none;
}

.textarea {
  resize: none;
  height: 150px;
  font-family: "Roboto", sans-serif;
}

.errorMessage {
  color: #ffeaea;
  margin-top: 5px;
}

.submitButton {
  padding: 5px 10px;
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  margin-top: 1.5rem;
  color: #000;
}

.submitButton:hover {
  opacity: 0.7;
  transition: 0.3s;
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
    border-radius: 0;
  }
  .form {
    margin: 1.5rem 0.5rem;
  }
  .formElement {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .formLabel {
    margin-bottom: 10px;
  }
}
