.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin-bottom: 100px;
}

.textContainer {
  margin-bottom: 50px;
  text-align: center;
}
.icon {
  margin-bottom: 25px;
}

.title {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}

.text {
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
}

.image {
  margin: 30px;
}

@media screen and (max-width: 640px) {
  .textContainer {
    margin-left: 15px;
    margin-right: 15px;
  }
}
